*.log
/.idea
/resources/data/data_backup
/resources/account_data/userOrders
/resources/instruments
/resources/data/ticks
/resources/telegram
/resources/account_data/orders
/resources/account_data/account
/mw_srv_trade/app_common_trade_lib/strategy_builder
/mw_srv_trade/app_common_trade_lib/tech_indicator
/mw_srv_trade/app_common_trade_lib/session_builder

*.csv
/.tmp.driveupload
