
*.log
/.idea
/resources/account_data/data_backup
/resources/account_data/userOrders
/resources/instruments
/resources/account_data/ticks
/resources/telegram
/resources/account_data/orders
/resources/account_data/account
/testing
/mw_minisoft/trade_lib/strategy_builder
/mw_minisoft/trade_lib/tech_indicator
/mw_minisoft/trade_lib/session_builder

